<div class="embed-spotify-playlist">
 <iframe src="https://open.spotify.com/embed/playlist/{{ include.id }}" 
        width="700" 
        height="480" 
        frameborder="0" 
        allowtransparency="true"
        allow="encrypted-media"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
</iframe>
</div>

<iframe src="https://open.spotify.com/embed/playlist/3Fuga0Pnb50vCkQzPB8m0h" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>